<div data-options="dxView : { name: 'calculator', title: 'Permanent Impairment Calculator' }">

    <div data-options="dxContent : { targetPlaceholder: 'content' }">
        <div data-bind="dxList: { dataSource: form_items, grouped: true }">
            <div data-options="dxTemplate: { name: 'group' }">
                <b><span data-bind="text: key"></span></b>
            </div>
            <div data-options="dxTemplate: { name: 'result_item' }">
                <span class="dx-field-label" data-bind="text: label"></span>
                <span class="dx-field-value" data-bind="value: 0"></span>
            </div>
            <div data-options="dxTemplate: { name: 'date_item' }">
                <span class="dx-field-label" data-bind="text: label"></span>
                <span class="dx-field-value" data-bind="dxDateBox: { format: 'date'  }"></span>
            </div>
            <div data-options="dxTemplate: { name: 'number_item' }">
                <span class="dx-field-label" data-bind="text: label"></span>
                <span class="dx-field-value" data-bind="dxNumberBox: { value: 0  }"></span>
            </div>
        </div>
    </div>
</div>
